@import "tailwindcss";

@theme {
  --font-sans: "Guaruja Neue", "system-ui", "sans-serif";

  --color-background: rgba(25, 25, 25, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(32, 32, 32, 1);
  --color-danger: rgba(236, 0, 0, 1);

  --color-gray: rgba(255, 255, 255, 0.5);
  --color-gray-secondary: rgba(105, 105, 105, 1);

  --color-accent: rgba(255, 168, 0, 1);
  --color-accent-secondary: rgba(171, 252, 199, 1);

  --color-black-modal: rgba(43, 43, 43, 1);
  --color-gray-modal: rgba(237, 237, 237, 1);

  --color-gradient-blue: rgba(17, 96, 251, 1);
  --color-gradient-pink: rgba(255, 0, 230, 1);
}

@utility focusable {
  @apply outline-2 outline-black;
}

@layer base {
  a {
    @apply block;
  }

  *:focus-visible {
    @apply focusable;
  }
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}
